<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">

    <title>Document</title>
</head>
<body>
    <section id="header">
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/faqs">FAQs</a></li>
                <li><a class="active" href="team.html">Team</a></li>
            </ul>
        </div>
    </section>

    <section>
        <div class="wrapper">

            <div class="title">
                <h4>Our Team Section</h4>
            </div>
    
            <div class="card_Container">
    
                <div class="card">
    
                    <div class="imbBx">
                        <img src="/static/background-images/aad.jpg" alt="">
                    </div>
    
                    <div class="content">
                        <div class="contentBx">
                            <h3>Aaditya Jadhav <br><span>120B1B061</span></h3>
                        </div>
                        <ul class="sci">
                            <li style="--i: 1">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li style="--i: 2">
                                <a href="#"><i class="fa-brands fa-github"></i></a>
                            </li>
                            <li style="--i: 3">
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
    
                </div>
                
                <div class="gap">

                </div>

                <div class="card">
    
                    <div class="imbBx">
                        <img src="/static/background-images/ami.jpg" alt="">
                    </div>
    
                    <div class="content">
                        <div class="contentBx">
                            <h3>Amitesh Deshmukh <br><span>120B1B060</span></h3>
                        </div>
                        <ul class="sci">
                            <li style="--i: 1">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li style="--i: 2">
                                <a href="#"><i class="fa-brands fa-github"></i></a>
                            </li>
                            <li style="--i: 3">
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
    
                </div>

                <div class="card">
    
                    <div class="imbBx">
                        <img src="/static/background-images/suj.png" alt="">
                    </div>
    
                    <div class="content">
                        <div class="contentBx">
                            <h3>Sujit Deore <br><span>120B1B030</span></h3>
                        </div>
                        <ul class="sci">
                            <li style="--i: 1">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li style="--i: 2">
                                <a href="#"><i class="fa-brands fa-github"></i></a>
                            </li>
                            <li style="--i: 3">
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
    
                </div>
    
                <div class="card">
    
                    <div class="imbBx">
                        <img src="/static/background-images/udd.jpg" alt="">
                    </div>
    
                    <div class="content">
                        <div class="contentBx">
                            <h3>Uddhav Patil <br><span>120B1B056</span></h3>
                        </div>
                        <ul class="sci">
                            <li style="--i: 1">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li style="--i: 2">
                                <a href="#"><i class="fa-brands fa-github"></i></a>
                            </li>
                            <li style="--i: 3">
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
    
                </div>
    
                <div class="card">
    
                    <div class="imbBx">
                        <img src="/static/background-images/mam.jpg/\" alt="">
                    </div>
    
                    <div class="content">
                        <div class="contentBx">
                            <h3>Prof. Anagha Chaudhari <br><span>Guide</span></h3>
                        </div>
                        <ul class="sci">
                            <li style="--i: 1">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li style="--i: 2">
                                <a href="#"><i class="fa-brands fa-github"></i></a>
                            </li>
                            <li style="--i: 3">
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </section>

    <section>
        <div class="container-f">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Abut us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Comoputer Vision</a></li>
                        <li><a href="#">NLP</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>People</h4>
                    <ul>
                        <li><a href="#">Amitesh</a></li>
                        <li><a href="#">Aaditya</a></li>
                        <li><a href="#">Uddhav</a></li>
                        <li><a href="#">Sujit</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>